# Virtual Environment
venv/
env/
ENV/

# Python compiled files
__pycache__/
*.py[cod]

# Database (Keep your data local, don't upload to GitHub)
db.sqlite3

# macOS system files
.DS_Store

# Logs and local settings
*.log
local_settings.py
